if status is-interactive
    {{- if lookPath "/opt/homebrew/bin/brew" }}
        eval (/opt/homebrew/bin/brew shellenv)
    {{- end }}

    if type -q mise
        mise activate fish | source
    end

    if type -q thefuck
        thefuck --alias | source
    end

    if type -q starship
        starship init fish | source
    end

    if type -q zoxide
        zoxide init fish | source
    end

    set fish_tmux_autostart true

# Set greeting to neofetch
    function fish_greeting
        fastfetch
    end
end


